{% extends "base.html" %}

{% block content %}
    <h2>понрав</h2>
     <p>{{liked_list }}</p>
    {% for item in news %}
     {% if item.id in liked_list %}
            <p>uuu</p>
            <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.content }}
            </div>
            <div>
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>
     {% endif %}

    {% endfor %}
{% endblock %}