<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="AllStylies.css" rel="stylesheet">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="assets/css/main.css">
    <style>
   .mid {
    border: thick double #32a1ce;
   }
  </style>
    <title>{{ title }}</title>
</head>
<body class="box">
<header>
    <nav class="navbar navbar-dark bg-dark"><p></p><p>
        <a class="btn btn-info" href="/">Меню</a>
        <a class="btn btn-info" href="#">Дополнительно</a>
        <a href="my_news1" class="btn btn-info">Мои объявления</a>
        </p>
        {% if current_user.is_authenticated %}
        <p></p><p>
            <a href="news"><button type="button" class="btn btn-outline-success">Добавить объявление</button></a>
            {% if all_likes != 0 %}
            <a href="news_liked_by/{{ current_user.id }}"><button type="button" class="btn btn-outline-danger">Понравившиеся  <span class="badge badge-light">{{ all_likes }}</span></button></a>
            {% else %}
             <a href="news_liked_by/{{ current_user.id }}"><button type="button" class="btn btn-outline-danger">Понравившиеся</button></a>
            {% endif %}
            <a class="btn btn-info" href="/logout">{{ current_user.name }}</a>
        </p><p></p>
        {% else %}
            <p></p><p>
                <a class="btn btn-primary btn-sm" href="/register">Зарегистрироваться</a>
                <a class="btn btn-success btn-sm" href="/login">Войти</a>
            </p><p></p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>